{{> document_head }}
<body id="fiche-de-cours">
	{{> main_header }}

	<section id="navigation">
		<div class="container">
			<div class="row">
				<div class="col-sm-2 col-sm-offset-10 hidden-xs">
					<ul id="toc" class="nav">{{> toc }}</ul>
					<nav id="fiche-nav" role="group" class="btn-group btn-group-sm btn-group-justified">
						{{#if previous}}
						<a class="btn btn-default" role="button" href="{{ previous.path }}" title="{{ previous.title }}"><i class="fa fa-caret-left"></i></a>
						{{else}}
						<a class="btn btn-default disabled" role="button" href="#"><i class="fa fa-caret-left"></i></a>
						{{/if}}
						<a class="btn btn-default" role="button" href="{{ parent.path }}" title="Sommaire"><i class="fa fa-list-ul"></i></a>
						{{#if next}}
						<a class="btn btn-default" role="button" href="{{ next.path }}" title="{{ next.title }}"><i class="fa fa-caret-right"></i></a>
						{{else}}
						<a class="btn btn-default disabled" role="button" href="#"><i class="fa fa-caret-right"></i></a>
						{{/if}}
					</nav>
				</div>
			</div>
		</div>
	</section>

	<section id="fiche">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-md-offset-1 col-sm-10 content">
					{{> breadcrumbs }}
					<main>
					{{{ contents }}}
					{{#if videos}}
					<h2 id="videos">Toutes nos vidéos sur {{lowercase title }}</h2>
					{{{ videos }}}
					{{/if}}
					{{#if exercices}}
					<h2 id="exercices">Tous nos exercices sur {{lowercase title }}</h2>
					{{{ exercices }}}
					{{/if}}
					</main>
				</div>
			</div>
			<div class="row">
				<div class="col-md-9 col-md-offset-1 col-sm-10">
				<hr>
				<h2 class="text-center">Posez vos questions</h2>
				<p class="text-muted">
					D'autres interrogations sur ce cours ? Démarrez une discussion et obtenez des réponses à des exercices pratiques.
				</p>
				<p class="text-center">
					<a class="btn btn-success btn-lg" role="button" href="https://forum.mathforu.com{{ link parents.0.link_to_forum }}">Accéder au forum</a>
				</p>
				{{{ globals.bloc-partenaires }}}
				<hr>
				</div>
			</div>
		</div>
	</section>
	<section id="sommaire">
		<div class="container">
			<div class="row">
				<div class="col-sm-5 col-sm-offset-1 content" data-aos="fade-right">
					<h3>Fiches méthodes</h3>
					<ol>
						{{#each parent.memoEntries }}
						<li><a href="{{ path }}">{{ title }}</a></li>
						{{/each }}
					</ol>
				</div>
				<div class="col-sm-5 col-sm-offset-1 content" data-aos="fade-left">
					<h3>{{ parent.title }}</h3>
					<ol>
						{{#each parent.programEntries }}
						<li><a href="{{ path }}">{{ title }}</a></li>
						{{/each }}
					</ol>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-offset-3 col-md-6 col-xs-12">
					<hr>
					{{> coloured-links }}
				</div>
			</div>
		</div>
	</section>

	{{> main_footer }}
	<script src="/assets/js/toc.js"></script>

</body>
</html>
